/* Base Styles*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

header {
    padding: 20px 0;
    background-color: #c7f1c7;
    margin-bottom: 10px;
}

header h1 {
    text-align: center;
    font-size: 24px;
    color: black;
}

main, nav {
    background-color: rgb(240, 240, 240);
}

main {
    padding-bottom: 80px;
}

nav {
    padding: 15px 0;
}

nav ul {
    display: flex;
    justify-content: center;
    gap: 15px;
}

nav ul li {
    list-style: none;
}

a {
    text-decoration: none;
    color: limegreen;
    padding: 5px;
}

a:hover {
    background-color: lightgray;
    border-radius: 3px;
}

main h2 {
    padding-left: 20px;
    font-size: 18px;
}

.product-list {
    display: flex;
    flex-wrap: wrap;
    padding: 0 5%;
    gap: 30px;
    margin: 30px 0;
}

.product {
    flex: 1 1 100%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 15px;
    background: white;
}

.product h2 {
    text-align: center;
    font-size: 18px;
}

.product p {
    text-align: center;
    margin: 10px 0;
}

.price {
    font-size: 16px;
    color: green;
}

.product img {
    width: 100%;
    border-radius: 5px;
    margin-bottom: 10px;
}

footer {
    background-color: darkgreen;
    text-align: center;
    padding: 15px 0;
    color: white;
}

/* Tablet Screens */
@media (min-width: 768px) {
    header h1 {
        font-size: 26px;
    }

    nav ul {
        flex-direction: row;
        gap: 30px;
    }

    main h2 {
        padding-left: 50px;
        font-size: 20px;
    }

    .product-list {
        padding: 0 10%;
        gap: 50px;
    }

    .product {
        flex: 1 1 calc(45% - 10px); 
    }
}

/* Desktop Screens */
@media (min-width: 1200px) {
    header {
        padding: 30px 0;
    }

    header h1 {
        font-size: 30px;
    }

    nav {
        padding: 20px 0 40px;
    }

    nav ul {
        gap: 40px; 
    }

    main h2 {
        padding-left: 120px;
        font-size: 22px;
    }

    .product-list {
        padding: 0 13%; 
        gap: 70px;
    }

    .product {
        flex: 1 1 calc(20% - 10px);
    }

    .price {
        font-size: 20px;
    }
}
